@model IEnumerable<Homework6.Models.ViewModels.StockItemViewModel>

<style>
    .tableStyle {
        border-style: ridge;
        border-color: grey;
        background-color: lightgray;
        padding-bottom: 10px;
    }

    .StockInfo {
        font-size: 35px;
    }
</style>

<br />
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-7 tableStyle">
                <h4 class="StockInfo"> Stock Item </h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        Name: <br /> Size: <br /> Price: <br /> Weight: <br /> Lead Time: <br /> Valid Since: <br /> Origin: <br /> Tags: <br />
                    </div>
                    <div class="col-md-4" style="width:450px">
                        @Html.DisplayFor(modelItem => item.StockItemName)
                        <br />
                        @Html.DisplayFor(modelItem => item.Size)
                        <br />
                        @{<text>$</text>}
                        @Html.DisplayFor(modelItem => item.RecommendedRetailPrice)
                        <br />
                        @Html.DisplayFor(modelItem => item.TypicalWeightPerUnit)
                        <br />
                        @Html.DisplayFor(modelItem => item.LeadTimeDays)
                        @{<text> days</text>}
                        <br />
                        @item.ValidFrom.Date.ToString("MM/yyyy")
                        <br />
                        @{string input = item.CustomFields.ToString().Substring(25, 10);}
                        @{string output = input.Substring(input.IndexOf("\"") + 1, input.IndexOf(",") - 3);}
                        @output
                        <br />
                        @{string input2 = item.Tags; }
                        @{string output2 = input2; }
                        @{var charsToRemove = new string[] { "[", "\"", ",", "]" };
                            foreach (var c in charsToRemove)
                            {
                                output2 = output2.Replace(c, " ");
                            }
                        }
                        @output2
                        <br />
                        @Html.DisplayFor(modelItem => item.Photo)
                    </div>
                </div>
            </div>
            <div class="col-md-5"> <img src="~/Content/placeholder.png" alt="Pic" width="260" height="260" /></div>
        }
    </div>

    <br />
    <div class="row">

        @foreach (var item in Model)
        {
            if (item.SupplierName != null || item.SupplierName != "")
            {
                <div class="col-md-7 tableStyle">

                    <h4 class="StockInfo"> Supplier Profile </h4>
                    <hr />

                    <div class="col-md-4">
                        Company: <br /> Phone: <br /> Fax: <br /> Website: <br /> Contact:
                    </div>
                    <div class="col-md-4" style="width:300px">
                        @Html.DisplayFor(modelItem => item.SupplierName)
                        <br />
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                        <br />
                        @Html.DisplayFor(modelItem => item.FaxNumber)
                        <br />
                        @Html.ActionLink(item.WebsiteURL, item.WebsiteURL)
                        <br />
                        @Html.DisplayFor(modelItem => item.FullName)
                    </div>
                </div>
            }
        }
    </div>
    <br />

    <br />
    <div class="row">

        @foreach (var item in Model)
        {
            if (item.SupplierName != null || item.SupplierName != "")
            {
                <div class="col-md-7 tableStyle">

                    <h4 class="StockInfo"> Sales History Summary </h4>
                    <hr />

                    <div class="col-md-4">
                        Orders: <br /> Gross Sales: <br /> Gross Profit: <br />
                    </div>
                    <div class="col-md-4" style="width:300px">
                        @Html.DisplayFor(modelItem => item.Orders)
                        <br />
                        @{<text>$</text>}
                        @{ string output3 = string.Format("{0:0,0.00}", item.GrossSales); }
                        @output3
                        <br />
                        @{<text>$</text>}
                        @{ string output4 = string.Format("{0:0,0.00}", item.GrossProfit); }
                        @output4
                    </div>
                </div>
            }
        }
    </div>
    <br />

</div>

